// Parameters

@font: "Montserrat";
@size: 14px;

@brown:  #7f592e;
@warm:   #a19a94;
@grey:   #7f7f7f;
@black:  #444;
@shadow: #ddd;
@hover:  #555;

// Functions 

.box-shadow(@params)
{
    box-shadow:         @params;
    -moz-box-shadow:    @params;
    -webkit-box-shadow: @params;
}

.rounded(@radius)
{
    border-radius:         @radius;
    -moz-border-radius:    @radius;
    -webkit-border-radius: @radius;
}

.gradient-vertical(@top, @bottom)
{
    background:       @top;
    background-image: -moz-linear-gradient(top,  @top, @bottom);
    background-image: -webkit-gradient(linear, left top, left bottom, from(@top), to(@bottom));
    background-image: -webkit-linear-gradient(top, @top, @bottom);
    background-image: -o-linear-gradient(top, @top, @bottom);
    background-image: linear-gradient(top, @top, @bottom);
    filter:           %("progid:DXImageTransform.Microsoft.gradient(startColorstr=%d, endColorstr=%d)", @top, @bottom);
    -ms-filter:       %("progid:DXImageTransform.Microsoft.gradient(startColorstr=%d, endColorstr=%d)", @top, @bottom);
    background-image: -ms-linear-gradient(top, @top, @bottom);
}

// Global

body { cursor: default; font-family: @font; font-size: @size; }

.left  { float: left;  }
.right { float: right; }

.center  { text-align: center; }
.justify { text-align: justify; }

.smaller { font-size: smaller; }
.larger  { font-size: larger; }

.default { text-transform: inherit; text-decoration: inherit; font-size: inherit; color: inherit; margin: inherit; padding: inherit; }

.nowrap { white-space: nowrap; }

strong { font-size: 16px; font-weight: bold; color: @warm; }

ul { margin: 0px; }

a.button, button, submit, input[type="submit"]
{
    margin-bottom: 2px;
    padding:       4px 8px 4px 8px;

    font-size:       smaller;
    text-transform:  uppercase;
    text-decoration: none;
    color:           white;
    text-shadow:     0px 1px 2px #333;
    white-space:     nowrap;

    &:hover { color: white; text-shadow: 0px 1px 2px #666; .gradient-vertical(@warm, #8c847c); }

    .gradient-vertical(@warm, #8c847c);
    .box-shadow(0px 2px 2px @shadow);
    .rounded(2px);
}

a
{
    color: @grey;

    &:hover { color: @hover; }
}

h1, h2, h3, h4, h5
{
    text-transform: uppercase;
    color: @warm;
}

h1 { margin: 30px 0 50px 0; }

#content img { padding: 5px 0 5px 0; }

// Elements

#toolbar
{
    width:  100%;
    height: 35px;

    padding-top:   15px;
    margin-bottom: 50px;

    background-color: white;
    border-bottom:    1px solid @shadow;

    .box-shadow(0px 5px 5px #eee);

    .shopping-cart { margin: 0px 20px 0px 5px; }
    .button        { margin-top: -5px; }
}

#logo
{
    font-size: 32px;
    color:     @grey;
}

#navigation
{
    margin-left: -8px;

    font-size:   18px;
    font-weight: bold;
    
    text-transform: uppercase;
    line-height:    30px;

    li { height: 30px; }

    a
    {
        height:  30px;
        padding:  8px;

        text-decoration: none;
        
        color: @grey;

        &:hover
        {
            .box-shadow(1px 5px 5px @shadow);
        }
    }
}

#content
{
    margin-bottom: 20px;
}

// Single elements

#filter
{
    margin-left: -15px;
    padding:      15px 15px 0px 15px;

    background-color: #ececeb;

    .box-shadow(inset 0 2px 5px @shadow);

    &.minimized { display: none; }

    #brand-list
    {
        margin-top: -5px;

        .brand
        {
            width: 100px;
            height: 45px;

            opacity: 0.6;

            &.active { opacity: 1.0; }
            &:hover  { opacity: 1.0; &.deselected { opacity: 0.6; } }
            
            .brand-image { max-width: 100px; max-height: 45px; }
        }
    }

    #category-list
    {
        text-transform: uppercase;
        color: @warm;

        .category
        {
            margin-right: 10px;

            &.active     { color: @hover; }
            &.deselected { a { &:hover { color: @warm; } } }
        }
    }
}

#product-list
{
    div.product
    {
        &:nth-child(4n+1) { margin-left:  0px; }
        &:nth-child(4n)   { margin-right: 0px; }
    }
}

#pagination
{
    margin-top: 25px;

    font-size: x-large;

    .page { margin-left: 1px; margin-right: 1px; }

    .buttons { width: 90px; }
}