<nav id="filter" class="sixteen columns alpha omega add-bottom clearfix">
    <div class="four columns alpha"><a href="#" class="button">{{ 'All brands'|trans }}</a></div>
    <div class="twelve columns omega">-</div>
    
    <div class="sixteen columns clearfix">&nbsp;</div>

    <div class="four columns alpha"><a href="#" class="button">{{ 'All categories'|trans }}</a></div>
    <div class="twelve columns omega">-</div>
</nav>