{% extends 'ShopMainBundle::layout.html.twig' %}

{% block content %}    
    {% include 'ShopProductBundle:Product:filter.html.twig' %}

    <div id="product-list" class="sixteen columns alpha omega">        
        {% include 'ShopProductBundle:Product:list.html.twig' %}
    </div>
        
{% endblock %}
