{% extends 'ShopMainBundle::layout.html.twig' %}

{% block content %}    
    {% include 'ShopProductBundle:Product:filter.html.twig' %}

    <div id="product-list" class="sixteen columns alpha omega">        
        {% include 'ShopProductBundle:Product:list.html.twig' %}
    </div>
    
    <script type="text/javascript">
        var route_product_index = '{{ url('product_index') }}';
    </script>
{% endblock %}
    
{% block javascripts %}
    {{ parent() }}
    
    {% javascripts output="/js/product.js" filter="coffee,?yui_js" '@ShopProductBundle/Resources/coffee/product-filter.coffee' %}        
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}