{% extends 'ShopMainBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ 'Products'|trans }}</h1>

    {% for product in products %}
        <div class="four columns add-bottom product">
            <img src="/images/hanger.jpg" class="four columns alpha omega" /><br/>
            
            <div class="four columns alpha omega">
                <span class="left">{{ product.name }}</span>                
                <span class="right"><b>{{ product.priceWithTax|money }}</b></span>
            </div>
        </div>
    {% endfor %}
        
{% endblock %}
