{% extends 'ShopMainBundle::layout.html.twig' %}

{% block title %}{{ 'New product'|trans }}{% endblock %}

{% block content %}
    
    <h1>{{ 'New product'|trans }}</h1>
    
    <div class="sixteen columns alpha omega">
        {{ form_rest(form) }}
    </div>
    
{% endblock %}