{% extends 'ShopMainBundle::layout.html.twig' %}

{% block title %}{{ 'New product'|trans }}{% endblock %}

{% block content %}
    
    <h1>{{ 'New product'|trans }}</h1>
    
    <div class="sixteen columns alpha omega">        
        <form action="{{ url('product_new') }}" method="post" {{ form_enctype(form) }}>
            {% include 'ShopProductBundle:Product:form.html.twig' with { 'form': form } %}
        </form>
    </div>
    
{% endblock %}