{% extends 'ShopMainBundle::layout.html.twig' %}

{% block title %}{{ 'New product'|trans }}{% endblock %}

{% block content %}
    
    <h1>{{ 'New product'|trans }}</h1>
    
        
{% endblock %}