{% extends 'ShopMainBundle::layout.html.twig' %}

{% block content %}

    <h1>{{ product.name }}</h1>

    <div class="sixteen columns alpha omega">
        <h2 class="default">{{ product.brand.name }}</h2>
    </div>
    
    
{% endblock %}