<p class="eight columns alpha">
    {{ 'Your shopping cart is empty.'|trans }} &nbsp; 
    <a class="button" href="{{ url('product_list') }}">{{ 'Continue shopping?'|trans }}</a>
</p>

<img src="/images/hanger.jpg" alt="{{ 'Your shopping cart is empty.'|trans }}" class="eight columns omega" />