{% extends 'ShopMainBundle::layout.html.twig' %}

{% block content %}

<h1>{{ 'Shopping cart'|trans }}</h1>

{% if cart.getProducts() %}
    
{% else %}
    {% include 'ShopCartBundle:Cart:empty.html.twig' %}
{% endif %}
    
{% endblock %}